table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

td {
  width: 300px;
}

.nav-link {
  font-size: 1.25rem;
}

.nav-link:hover {
  color: white;
  background-color: #0d6efd;
  transition: 0.4s all ease-in-out;
}
